body {
  font-family: "arial";
}

p {
  display: inline-block;
}

footer {
  margin: 20px 0;
}

.bold {
  font-weight: bold;
}

.blue-text {
  color: #3B96DA;
}

.flex-hor > div{
  float: left;
}

.margin-small {
  margin-top: 10px;
}

.margin-medium {
  margin-top: 40px;
}

.content {
  margin-top: 50px;
}

.dropdown-menu.right-align {
  right: 0;
  min-width: 300px;
  left: initial;
}

.separator {
  background-color: #BBB;
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
}

.line{
  background-color: #DDD;
  margin-bottom: 15px;
  width: 100%;
  left: 0;
  height: 1px;
}

.square-border {
  border-radius: 0px;
}

.glyphicon-form {
  padding-right: 40px;
}

.nav-top {
  font-size: 12px;
}

.menu {
  width: 100%;
  text-align: right;
  height: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  text-transform: uppercase;
}

.menu a {
  color: #555;
}

.full-width {
  width: 100%;
}

.footer{
  background-color: #F1F5F9;
  padding: 40px 0;
}

.payments-methods {
  justify-content: flex-end;
}
.payments-methods-container img {
  margin-left: 10px;
  height: 15px;
}

.social-container {
  margin-right: 40px;
  display: inline-block;
}

.divider-vertical::before {
  height: 15px;
  margin: 0 9px;
  display: inline-block;
  content: "|";
  color: #CCC;
}


.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.row-reset{
  margin: 0 0px;
}

footer{
  font-size: 10px;
}

footer a {
  color: #333;
}

.end-container span a {
  margin: 0 3px;
}

.end-container span {
  margin: 0 10px;
}

.align-center{
  width: 100%;
  text-align: center;
}

.template-hidden{
  display: none;
}

/* **************** INDEX **************** */

.flash {
  position: absolute;
  right: 20px;
  width: 80px;
  height: 80px;
  color: white;
  font-size: 20px;
  padding-top: 25px;
  border-radius: 40px;
}

.flash.sale {
  background-color: red;
}

.flash.new {
  background-color: green;
}

.pointer {
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

.cart-item {
  padding: 0 10px;
  display: flex;
}

.cart-item-name {
  flex-grow: 1;
}

.cart-total {
  font-weight: bold;
  border-top: solid;
}

.sale-price  {
  color: red;
  margin-left: .5em;
  font-size: 1.5em;
}

.price-crossed {
  text-decoration: line-through;
  opacity: .5;
}

.item-image {
  height: 206px;
  width: 160px;
  background-image: url("/public/images/placeholder2.png");
}

.item-actions {
  display: flex;
}

.item-actions img {
  cursor: pointer;
}

.item-list .item {
  margin-top: 20px;
}

.flex-separator {
  flex-grow: 1;
}

.grade {
  width: 90px;
}

.full-star {
  margin-top: -20px;
  height: 20px;
  overflow: hidden;
}

.shop-class {
  font-weight: normal;
}

.filters {
  border-radius: 0px;
  margin-left: 10px;
  margin-top: 20px;
}

.filters .panel-heading {
  background-color: #DFDFDF !important;
  font-weight: bold;
}

.filter-title{
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.panel-body .filter-title:first-child{
  margin-top: 0;
}

.filters li {
  margin: 15px 0px;
  list-style-type: none;
}

.filters .panel-body > ul {
  padding: 0;
}

.main-shop{
  margin-top: 20px;
}

.btn-group .active {
  box-shadow: none;
  color:white !important;
  background-color: #3890E1 !important;
}

.btn-group label {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}

.display-selectors {
  float:right;
}

.display-selectors select {
  border-radius: 20px;
}

.display-selectors button{
  border-radius: 20px;
  padding: 6px 10px;
}

.colors{
  height: 50px;
}

.colors > li {
  height: 22px;
  width: 22px;
  display: inline-block;
  float:left;
  position: relative;
  z-index: 1;
  margin: 0;
}

.items {
  margin-top: 10px;
}

.items-header{
  margin-top: 15px;
}

.colors > li:hover{
  box-shadow: 0px 0px 4px black;
  outline-style: solid;
  outline-color: white;
  outline-width: 1px;
  z-index: 2;
}

.colors > li.selected {
  box-shadow: 0px 0px 4px black;
  outline-style: solid;
  outline-color: white;
  outline-width: 1px;
  z-index: 2;
}

.red {
  background-color: #EA0000;
}
.orange {
  background-color: #FFA300;
}
.yellow {
  background-color: #EAFF00;
}
.green {
  background-color: #44C700;
}
.aqua {
  background-color: #00EF49;
}
.cyan {
  background-color: #00FDFF;
}
.light-blue {
  background-color: #266AFF;
}
.blue {
  background-color: #3900B8;
}
.dark-purple {
  background-color: #7800E0;
}
.purple {
  background-color: #B400DA;
}
.black {
  background-color: #000;
}
.white {
  background-color: #FFF;
}
.black-white {
  background-color: #000;
  border-bottom: 22px solid transparent;

  border-right:22px solid white;
}
.pink {
  background-color: #EB00FF;
}
.dark-pink {
  background-color: #CB0080;
}
